@media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

  .navbar
  {
    max-width:300px;
    margin-right: 0;
    margin-left: 0;
  }

  .navbar-nav,
  .navbar-nav > li,
  .navbar-left,
  .navbar-right,
  .navbar-header
  {float:none !important;}

  .navbar-right .dropdown-menu {left:0;right:auto;}
  .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
  }
}

#leftcolumn, .container-fluid{
  padding-left: 0;
  padding-right: 0;
}
.navbar {
  min-width: 124px;
}
.card-fullname {
  font-size: 26px;
  line-height: 30px;
}
.card-username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}
.card-orgname {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 8px;
}
.info-block {
  border-top: 1px #e5e5e5 solid;
  max-width: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
}
