.sidebar {
  float: left;
  background: #fff;
  width: 200px;
  cursor: pointer;
  border-right: #eee 1px solid;
}

.sidebar-nav a {
  color: black;
  font-weight: bold;
}

.sidebar-nav a:hover {
  text-decoration: none;
  background: #eee;
}

.sidebar-nav ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.sidebar-nav ul li {
  list-style-type: none;
  width: 100%;
}

.sidebar-nav ul li a {
  width: 100%;
  display: block;
  padding: 10px 0 10px 40px;
}

.sidebar-nav ul li a:active, .sidebar-nav ul li a:focus {
  text-decoration: none;
}

.sidebar-title {
  font-size: 30px;
  text-align: center;
}

.sidebar-title a {
  width: 100%;
  padding: 20px 0;
  display: block;
}

.sidebar-title a:hover {
  text-decoration: none;
  background: #eee;
}

.sidebar-title a:active, .sidebar-title a:focus {
  text-decoration: none;
}

.content {
  padding: 20px 20px 20px 250px;
}

a {
  text-decoration: none;
}

.card-fullname {
  font-size: 26px;
  line-height: 30px;
}

.card-username {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
}

.card-orgname {
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 8px;
}

.info-block {
  border-top: 1px #e5e5e5 solid;
  max-width: 230px;
  padding-top: 10px;
  padding-bottom: 10px;
}
